
domain_name = "..."

subdomain_name = "..."

db_name = "db1"

db_user = "user1"

db_password  = "password1"

yc_token = "..."

yc_cloud_id  = "..."

yc_folder_id  = "..."

compute_default_zone = "ru-central1-a"

datadog_api_key = "..."

datadog_app_key  = "..."

upmon_url  = "..."

vm_user = "alex999"

admin_ssh_key = "ssh-rsa ..."

certificate_ids = ["..."]
