domain_name = "{{ domain_name }}"

subdomain_name = "{{ subdomain_name }}"

db_name = "{{ db_name }}"

db_user = "{{ db_user }}"

db_password = "{{ db_password }}"

yc_token = "{{ yc_token }}"

yc_cloud_id = "{{ yc_cloud_id }}"

yc_folder_id = "{{ yc_folder_id }}"

compute_default_zone = "{{ compute_default_zone }}"

datadog_api_key = "{{ datadog_api_key }}"

datadog_app_key = "{{ datadog_app_key }}"

vm_user = "{{ vm_user }}"

admin_ssh_key = "{{ admin_ssh_key }}"

certificate_ids = "{{ certificate_ids }}"
